#about {
    margin-bottom: 100px;
}

.about-content {
    text-align: justify;
}

.about-content a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

#about img {
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-wrap: wrap;

        div {
            margin-bottom: 50px;
        }
    }
}