.loading {
    text-align: center;
}

.events-search {
    gap: 20px;
}

// Pagination

.page-link {
    background-color: var(--primary-color);
    color: white;
}

.change-page:hover {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
}

.current-page:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: default;
}