.loading {
    text-align: center;
}

// Search options

.events-search {
    gap: 20px;
}

// Current search

.bg-badge {
    background-color: var(--primary-color);
    margin: 5px 10px 20px 10px;
    padding: 11px 10px 10px 10px;
    font-size: medium;
    font-weight: 500;

    button {
        border: 0px;
        background-color: transparent;
        padding: 0px;
        margin-left: 5px;

        img {
            transform: translateY(-1.5px);
            transition: 0.3s;
        }

        img:hover {
            opacity: 0.7;
        }
    }
}

// Found events

.event-icon {
    width: 200px;
    height: 140px;
    margin-right: 20px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.category-badge {
    display: block;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    border: none;
    font-weight: 500;
    transition: 0.3s;

    &:hover, &:focus {
        opacity: 0.7;
    }
}

.venue {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.description .btn {
    margin-top: 10px;
}

@media screen and (max-width: 450px) {
    .event-item div {
        flex-wrap: wrap;
    }

    .event-icon {
        margin: auto;
    }

    .description {
        margin-top: 16px;
    }

}

@media screen and (min-width: 768px) {
    .category-badge {
        position: absolute;
        right: 16px;
    }
}

@media screen and (min-width: 1000px) {
    .event-item, .alert {
        max-width: 1000px;
    }

    .description .btn {
        margin-top: 20px;
    }
}

// Pagination

.page-link {
    background-color: var(--primary-color);
    color: white;
}

.change-page:hover, .change-page:focus {
    background-color: var(--primary-color);
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.current-page:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: default;
}