html {
    cursor: default;
}

// Navigation

#menu img {
    width: 20px;
}

@media screen and (min-width: 1200px) {
    #menu {
        visibility: hidden;
    }
}

// Search for events section

.events-search {
    gap: 20px;

    .btn-primary {
        border-radius: 4px;
        padding: 10px 20px;
        border: 0;
        background-color: var(--primary-color);
        color: var(--contrast-color);
        }
    
    .btn-primary:hover {
        color: var(--contrast-color);
        background-color: rgba(var(--primary-color-rgb), 0.8);
        }
}

.bg-badge {
    background-color: var(--primary-color);
    margin: 5px 10px 20px 10px;
    padding: 10px;
    font-weight: 500;

    button {
        border: 0px;
        background-color: transparent;
        padding: 0px;
        margin-left: 5px;

        img:hover {
            opacity: 70%;
        }
    }
}

// Pagination

.page-link {
    background-color: var(--primary-color);
    color: var(--contrast-color);   
}

.change-page:hover {
    color: var(--contrast-color);
    background-color: rgba(var(--primary-color-rgb), 0.8);
    cursor: pointer;
}

.current-page:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    cursor: default;
}

// Availability section

#map {
    cursor: all-scroll;
}

.tools  {
    position: absolute;
    z-index: 1;
    transform: translate(10px, 10px);

    button {
        background: var(--contrast-color);
        border-radius: 20px;
        transition: 0.3s;
        border: none;
        margin: 3px;

        img {
            padding: 2px;
        }

        &:hover {
            opacity: 80%;
        }
}}